{% assign entry = include.entry %}
<article class="entry {{ entry.layout }}">

  <h1><a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a></h1>

  {% include entry-meta.html entry=entry %}

  {% if entry.thumbnail %}
    <a href="{{ site.baseurl }}{{ entry.url }}"><img class="thumbnail" src="{{ entry.thumbnail }}" /></a>
  {% elsif entry.youtube %}
    <a href="{{ site.baseurl }}{{ entry.url }}"><img class="thumbnail" src="https://i.ytimg.com/vi/{{ entry.youtube }}/mqdefault.jpg" /></a>
  {% endif %}

  {% if entry.subtitle %}
    <h3>{{ entry.subtitle }}</h3>
  {% endif %}

  <div class="content excerpt">
    {{ entry.excerpt }}
  </div>

  {% if entry.link %}
  <a href="{{ entry.link.url }}" class="read-more" target="_blank">
    {{ entry.link.text }} <img src="/images/icons/newtab.svg" />
  </a>
  {% else %}
  <a href="{{ site.baseurl }}{{ entry.url }}" class="read-more">
    {% if entry.layout == 'post' %}
    Read More
    {% elsif entry.layout == 'talk' or entry.layout == 'video' %}
    Watch Online
    {% endif %}
  </a>
  {% endif %}

  <div class="clear"></div>
</article>