    #cookie-notice {
        padding: 0.5rem 1rem;
        display: none;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        
        @include background-faded;
    }
    
    #cookie-notice button {
        padding: 10px;
        margin: 5px;

        @include background-faded;
        @include color-normal;
		

        @include mobile {
            #cookie-notice span {
                display: block;
                padding-top: 3px;
                margin-bottom: 1rem;
            }
        }
    }