@mixin mobile-small {
    @media screen and (max-width: 440px) {
        @content;
    }
}

@mixin mobile-xs {
    @media screen and (max-width: 390px) {
        @content;
    }
}

#home {
    position: relative;
    margin: auto;
    text-align: center;

    .box {
        display: inline-block;
        vertical-align: middle;
        border-radius: 10px;
        text-align: center;
        margin: 20px;

        a {
            display:block;
            width: 130px;
            padding: 20px;
            color: $white;

            @include mobile-small {
                font-size:0.8em;
                width: 110px;
            }
        }
    }

    .arrow {
        vertical-align: middle;
        display: inline-block;
        height: 70px;
        width: 70px;
        background-repeat: no-repeat;
        background-size: 70px;
        background-position: center;

        @include mobile-small {
            height: 40px;
            width: 40px;
            background-size: 40px;
        }

        @include mobile-xs {
            display: none;
        }

        @include dark-mode {
            filter: invert(100%) contrast(0.73) saturate(1.5);
        }
    }

    .point-right {
        background-image: url(/images/arrows/left.svg);
    }

    .point-down {
        background-image: url(/images/arrows/down.svg);
        margin: 0 50px;

        @include mobile-small {
            margin: 0 55px;
        }
    }

    .blue {
        background-color: $blue;
    }

    .green {
        background-color: $green;
    }

    .red {
        background-color: $red;
    }

    .purple {
        background-color: $purple;
    }
}