
//
// VARIABLES
//

// Colors
$blue: #347BCD; // was #4183C4, diagrams #3785de
$red: #df2214; // was #ed2112
$green: #3a7a24;
$yellow: #f8ba00;
$purple: #be4cac;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$middleGray: #888;
$lightishGray: #aaa;
$lightGray: #ddd;
$lighterGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

// Dark mode
@mixin dark-mode {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

@mixin color-normal {
  color: $darkGray;

  @include dark-mode {
    color: $lighterGray;
  }
}

@mixin color-blue {
  color: $blue;

  @include dark-mode {
    color: #4390e8;
  }
}

@mixin color-faded {
  color: $gray;

  @include dark-mode {
    color: $lightishGray;
  }
}

@mixin color-very-faded {
  color: $lightishGray;

  @include dark-mode {
    color: $gray;
  }
}

@mixin background-normal {
  background: $white;

  @include dark-mode {
    background: $darkerGray;
  }
}

@mixin background-faded {
  background: $lighterGray;

  @include dark-mode {
    background: $gray;
  }
}

@mixin border-color-faded {
  border-color: $lighterGray;

  @include dark-mode {
    border-color: $gray;
  }
}

@mixin border-color-slightly-faded {
  border-color: $lightGray;

  @include dark-mode {
    border-color: $middleGray;
  }
}

@mixin border-color-normal {
  border-color: $gray;

  @include dark-mode {
    border-color: $lightGray;
  }
}